/*****************************************/
/********** SETUP & VARIABLES  **********/
/***************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --font-size-small: 1.8rem;
    --font-size-regular: 2rem;
    --font-size-medium: 2.8rem;
    --font-size-medium-large: 3.6rem;
    --font-size-large: 5.5rem;
    --font-size-huge: 8rem;

    --font-stack:
        Avenir, "Avenir Next", "Helvetica Neue", Helvetica, sans-serif;

    --line-height-normal: 1.7;
    --line-height-p: 1.4;
    --line-height-small: 1.2;

    --black: #000;

    --color-accent: #5dade2;

    --white: #ffffff;
    --off-white: #dedee0;

    --container-max-width: 800px;
    --container-normal-width: 800px;
    --container-medium-width: 700px;
    --container-small-width: 500px;

    --gutter-tiny: 0.5rem;
    --gutter-xs: 1.25rem;
    --gutter-small: 2rem;
    --gutter-regular: 2.5rem;
    --gutter-medium: 6rem;
    --gutter-huge: 14rem;

    --border-radius-small: 8px;
    --border-radius: 18px;

    --border-light: 1px solid rgb(36, 35, 35);
}

html {
    font-size: 62.5%; /* 62.5% -> 1rem = 10px */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media (max-width: 1000px) {
    html {
        font-size: 52%;
    }
}

body {
    font-size: var(--font-size-regular);
    font-family: var(--font-stack);
    font-weight: 400;
    color: var(--white);
    line-height: var(--line-height-normal);
    overflow-x: hidden;
    position: relative;
}

.row {
    max-width: var(--container-max-width);
    margin: 0 auto;
}

@media (max-width: 1340px) {
    .row {
        max-width: 1100px;
    }
}

@media (max-width: 1240px) {
    .row {
        padding: 0 var(--gutter-medium);
    }
}

@media (max-width: 600px) {
    .row {
        padding: 0 var(--gutter-small);
    }
}

section {
    padding: var(--gutter-medium) 0 var(--gutter-small) 0;
    position: relative;
    z-index: 1;
}

img {
    object-fit: contain;
    max-width: 100%;
}

/********************************************/
/********** HEADINGS & PARAGRAPHS **********/
/******************************************/

h1,
h2,
h3 {
    font-family: var(--font-stack);
    font-weight: 400;
    line-height: var(--line-height-small);
    color: var(--white);
}

.heading-primary {
    line-height: 1;
    font-size: var(--font-size-huge);
    font-weight: 400;
    text-align: center;
    position: relative;
}

.heading-primary span {
    animation: textGlow 1.5s linear forwards;
}

@media (max-width: 900px) {
    .heading-primary {
        font-size: 6.5rem;
    }
}

h2 {
    font-size: var(--font-size-large);
    margin-bottom: var(--gutter-medium);
}

h2::after {
    content: "";
    display: block;
    height: 2px;
    width: 10rem;
    background: var(--color-accent);
    margin: var(--gutter-small) 0;
}

h3 {
    font-size: var(--font-size-medium-large);
    margin-bottom: var(--gutter-small);
}

@media (max-width: 500px) {
    .heading-primary {
        font-size: var(--font-size-large);
    }

    h2 {
        font-size: var(--font-size-medium-large);
    }

    h3 {
        font-size: var(--font-size-medium);
    }
}

p {
    margin: var(--gutter-xs) 0;
}

p.foot {
    font-size: var(--font-size-small);
    margin-top: var(--gutter-tiny);
}

@media (max-width: 900px) {
    p {
        max-width: var(--container-small-width);
    }
}

/**************************************/
/********** BUTTONS & LINKS **********/
/************************************/

a {
    color: var(--white);
    font-weight: 400;
    font-family: var(--font-stack);
    transition: all 0.2s;
    outline: 2px solid transparent;
}

::-moz-focus-inner {
    border: 0;
}

button:focus,
a:focus {
    outline: 2px solid var(--color-accent);
}

.link:hover {
    color: var(--color-accent);
}

.btn {
    position: relative;
    display: inline-block;
    padding: 1rem 4.2rem;
    text-decoration: none;
    color: inherit;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-accent);
    font-weight: 400;
}

.btn:focus {
    outline: none;
}

.btn::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: var(--white);
    height: 100%;
    z-index: -1;
    transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.btn:hover::after,
.btn:focus::after {
    right: 0;
    background: var(--color-accent);
    border-radius: var(--border-radius);
}

.btn--accent {
    background: var(--color-accent);
    border-radius: var(--border-radius);
    transition: all 0.2s;
}

.btn--accent::after {
    display: none;
}

.btn--accent:hover,
.btn--accent:focus {
    background: transparent;
}

.link__text {
    position: relative;
    display: inline-block;
    padding: 0.6rem;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--color-accent);
}

.link__text::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: var(--white);
    height: 100%;
    z-index: -1;
    transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.link__text:focus {
    outline: none;
}

.link__text:hover::after,
.link__text:focus:after {
    right: 0;
    background: var(--color-accent);
}

.link__text span {
    padding-left: 1rem;
    font-family: sans-serif;
}

/*************************************/
/********** GLOW ANIMATION **********/
/***********************************/

@keyframes textGlow {
    0% {
        text-shadow: none;
    }
    10% {
        text-shadow:
            0 0 1px var(--color-accent),
            0 0 2px var(--color-accent),
            0 0 4px var(--color-accent);
    }
    20% {
        text-shadow:
            0 0 2px var(--color-accent),
            0 0 4px var(--color-accent),
            0 0 6px var(--color-accent);
    }
    30% {
        text-shadow:
            0 0 3px var(--color-accent),
            0 0 6px var(--color-accent),
            0 0 9px var(--color-accent);
    }
    40% {
        text-shadow:
            0 0 4px var(--color-accent),
            0 0 8px var(--color-accent),
            0 0 12px var(--color-accent);
    }
    50% {
        text-shadow:
            0 0 4px var(--color-accent),
            0 0 8px var(--color-accent),
            0 0 12px var(--color-accent);
    }
    60% {
        text-shadow:
            0 0 4px var(--color-accent),
            0 0 8px var(--color-accent),
            0 0 12px var(--color-accent);
    }
    70% {
        text-shadow:
            0 0 3px var(--color-accent),
            0 0 6px var(--color-accent),
            0 0 9px var(--color-accent);
    }
    80% {
        text-shadow:
            0 0 2px var(--color-accent),
            0 0 4px var(--color-accent),
            0 0 6px var(--color-accent);
    }
    90% {
        text-shadow:
            0 0 1px var(--color-accent),
            0 0 2px var(--color-accent),
            0 0 4px var(--color-accent);
    }
    100% {
        text-shadow: none;
    }
}

/**********************************/
/********** BACK TO TOP **********/
/********************************/

.back-to-top {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    background-color: var(--color-accent);
    border-radius: 50%;
    z-index: 10;
    visibility: hidden;
    transition: all 0.4s;
}

.back-to-top__image {
    height: 50%;
}

@media (max-width: 900px) {
    .back-to-top {
        right: 2rem;
    }
}

@media (max-width: 500px) {
    .back-to-top {
        right: 1rem;
    }
}

/***************************************/
/********** SCROLL INDICATOR **********/
/*************************************/

.scroll-indicator {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-30%);
    animation: bounce 2s infinite;
    transition: all 0.4s;
}

.scroll-arrow {
    display: block;
    width: 40px;
    height: 40px;
    border: solid var(--white);
    border-width: 0 3px 3px 0;
    opacity: 0.7;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0) rotate(45deg);
    }
    40% {
        transform: translateY(-10px) rotate(45deg);
    }
    60% {
        transform: translateY(-5px) rotate(45deg);
    }
}

/*********************************/
/********** NAVIGATION **********/
/*******************************/

.nav {
    display: flex;
    justify-content: flex-end;
    padding: var(--gutter-normal) 0;
}

.nav__items {
    display: flex;
    list-style: none;
}

.nav__item:not(:last-child) {
    margin-right: var(--gutter-medium);
}

@media (max-width: 500px) {
    .nav {
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .nav__item:not(:last-child) {
        margin-right: var(--gutter-normal);
    }
}

@media (max-width: 300px) {
    .nav {
        font-size: var(--font-size-small);
    }
}

.nav__link {
    position: relative;
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    color: inherit;
    transition: all 0.2s;
}

.nav__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    display: inline-block;
    height: 1rem;
    background: var(--white);
    transition: all 0.25s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.nav__link:hover {
    color: var(--color-accent);
}

.nav__link:hover::after {
    right: 0;
    height: 2px;
    background: var(--color-accent);
}

/*****************************/
/********** HEADER **********/
/***************************/

.header {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: var(--font-size-normal);
    position: relative;
    z-index: 1;
    min-height: 100vh;
}

.header__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header__text p {
    margin: 1.5rem 0 3.5rem;
    max-width: var(--container-medium-width);
    font-family: "Jost", sans-serif;
    font-size: var(--font-size-medium);
}

@media (max-width: 500px) {
    .header {
        text-align: center;
    }

    .header__text p {
        transform: scale(0.8);
    }
}

/*******************************/
/********** PROJECTS **********/
/*****************************/

.project {
    padding-top: var(--gutter-huge);
}

.project__box {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--gutter-medium);
}

@media (max-width: 500px) {
    .project__box:not(:last-child) {
        margin-bottom: var(--gutter-huge);
    }
}

.project__image-box {
    width: 100%;
    margin-bottom: var(--gutter-regular);
}

.project__image {
    width: 100%;
    border-radius: var(--border-radius-small);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project__content {
    width: 100%;
}

.project__content p,
.about p.about {
    line-height: var(--line-height-p);
}

.project__header {
    display: flex;
    align-items: center;
    margin-bottom: var(--gutter-small);
}

.project__header h3 {
    margin-bottom: 0;
    margin-right: var(--gutter-xs);
}

.project__github {
    text-decoration: none;
}

.project__code {
    display: block;
    height: 3rem;
    transition: all 0.3s;
}

.project__code:hover {
    transform: scale(1.2);
}

.project__details {
    margin-top: var(--gutter-regular);
}

@media (max-width: 500px) {
    .project__header {
        flex-wrap: wrap;
    }

    .project__header h3 {
        margin-bottom: var(--gutter-tiny);
    }

    .project__code {
        height: 2.5rem;
    }
}

/****************************/
/********** ABOUT **********/
/**************************/

.about__subtitle {
    font-size: var(--font-size-medium-large);
    margin-top: var(--gutter-medium);
    margin-bottom: var(--gutter-small);
    color: var(--white);
    font-weight: 400;
    line-height: var(--line-height-small);
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter-regular);
    margin-bottom: var(--gutter-regular);
}

.skills__category {
    flex: 1;
    min-width: 18rem;
}

.skills__category h4 {
    margin-bottom: var(--gutter-tiny);
    color: var(--white);
    font-size: var(--font-size-regular);
    font-weight: 400;
}

.skills__list {
    list-style-type: none;
    padding: 0;
}

.skills__list li {
    margin-bottom: 0.5rem;
    position: relative;
    padding-left: 1.5rem;
    color: var(--off-white);
    font-size: var(--font-size-regular);
}

.skills__list li:before {
    content: "•";
    position: absolute;
    left: 0;
    color: var(--color-accent);
}

.education__item {
    margin-bottom: var(--gutter-small);
}

.education__item h4 {
    margin-bottom: 0.3rem;
    font-size: var(--font-size-regular);
    color: var(--white);
    font-weight: 400;
}

.education__details {
    font-style: italic;
    margin-bottom: 0.5rem;
    color: var(--off-white);
    font-size: calc(var(--font-size-regular) - 0.2rem);
}

.education__description {
    font-size: calc(var(--font-size-regular) - 0.2rem);
    color: var(--off-white);
    margin: var(--gutter-tiny) 0;
}

.about .btn {
    display: inline-block;
    margin-top: var(--gutter-small);
}

@media (max-width: 900px) {
    .skills {
        flex-direction: column;
        gap: var(--gutter-xs);
    }

    .skills__category {
        min-width: unset;
    }
}

@media (max-width: 500px) {
    .about__subtitle {
        font-size: var(--font-size-medium-large);
    }

    .skills__category h4,
    .education__item h4 {
        font-size: calc(var(--font-size-regular) - 0.2rem);
    }

    .education__details,
    .education__description {
        font-size: calc(var(--font-size-small) + 0.2rem);
    }
}

/******************************/
/********** CONTACT **********/
/****************************/

.contact__info {
    max-width: var(--container-medium-width);
}

.contact-section {
    text-align: left;
    max-width: var(--container-medium-width);
    position: relative;
}

.contact-label {
    font-size: var(--font-size-medium);
    font-weight: 400;
    color: var(--white);
    margin-bottom: var(--gutter-tiny);
    line-height: var(--line-height-small);
    font-family: var(--font-stack);
}

.click-to-copy {
    color: var(--off-white);
    font-size: var(--font-size-small);
    margin-left: var(--gutter-tiny);
    font-weight: 400;
}

.email-container {
    position: relative;
}

.email-address {
    position: absolute;
    width: 100%;
    font-size: var(--font-size-medium-large);
    font-weight: 400;
    color: var(--white);
    margin: 0;
    cursor: pointer;
    transition: all 0.2s;
    line-height: var(--line-height-small);
    font-family: var(--font-stack);
}

.email-address:hover {
    color: var(--color-accent);
}

.email-copied {
    position: absolute;
    font-size: var(--font-size-medium-large);
    font-weight: 400;
    color: var(--white);
    margin: 0;
    line-height: var(--line-height-small);
    font-family: var(--font-stack);
    width: 100%;
    display: none;
    transition: opacity 0.1s ease-out;
}

.show-copied {
    display: block;
}

.hide-email {
    visibility: hidden;
    transition: none;
}

/*****************************/
/********** FOOTER **********/
/***************************/
a:focus,
button:focus {
    outline: none;
}

.footer {
    text-align: center;
    padding-top: var(--gutter-huge);
    position: relative; 
    z-index: 2;        
}

.footer__social-links {
    display: flex;
    justify-content: center;
    padding: var(--gutter-normal) 0;
    list-style: none;
}

.footer__social-link-item:not(:last-of-type) {
    margin-right: var(--gutter-small);
}

.footer__social-image {
    height: 4rem;
    transition: filter 0.3 ease;
}

.footer__social-image:hover {
    filter: brightness(0.7);
}

.footer__github-buttons {
    display: flex;
    justify-content: center;
}

.footer__github-buttons iframe {
    height: 2.5rem;
    width: 84px;
    transform: translateY(3px);
}

@media (max-width: 500px) {
    .footer {
        padding: var(--gutter-medium) 0;
    }
}